<div class="row">
  <div class="col-md-8">
    <div class="grid-container">
    <img class="col" alt="Figura representando uma clinica de saúde."
         src="../../../../../assets/ilustrations/clinic.svg">
    </div>
  </div>
  <div class="col-md-4">
    <div class="grid-container">
      <div class="boas-vindas">
        <h1 class="text-center boas-vindas-titulo">Bem Vindo</h1>
        <h3 class="text-center boas-vindas-texto">Este é o consultório online da Drª Jordana Martins, aqui você pode
          agendar suas consultas, acompanhar seus atendimentos.
          Tudo de maneira simples e prática.</h3>
        <div class="row">
          <button class="btn col boas-vindas-botao" (click)="openDialog()">Agendar Consulta</button>
        </div>
      </div>
    </div>
  </div>
</div>



