<!--<full-calendar [options]="calendarOptions"></full-calendar>-->


<div class="row">
    <div class="col-lg-8">
      <h1>Agenda da semana</h1>
    </div>
    <div class="col-lg-2 text-right">
      <select #viewDayOptionSelect2 class="form-control m-1" [ngModel]="viewDays"
              (change)="viewDaysOptionChanged(viewDayOptionSelect2.value)">
        <option [value]="7">1 semana</option>
        <option [value]="3">3 dias</option>
        <option [value]="1">1 dia</option>
      </select>
    </div>
    <div class="col-lg-2 text-right">
      <div class="btn-group m-1" role="group">
        <button type="button" class="btn btn-primary"
                mwlCalendarPreviousView
                [view]="view"
                [(viewDate)]="viewDate"
                [daysInWeek]="viewDays"
                [excludeDays]="excludeDays"
                [disabled]="prevBtnDisabled"
                (viewDateChange)="dateOrViewChanged()">
                            <span class="valign-center">
                                <i title="Precedente"
                                   class="material-icons md-18">keyboard_arrow_left</i>
                            </span>
        </button>
        <button #buttonToday type="button" class="btn btn-light"
                mwlCalendarToday
                [(viewDate)]="viewDate"
                (viewDateChange)="dateOrViewChanged()">
                            <span class="valign-center">
                                <i title="Hoje"
                                   class="material-icons md-18">today</i>
                            </span>
        </button>
        <button #buttonNext type="button" class="btn btn-primary"
                mwlCalendarNextView
                [view]="view"
                [(viewDate)]="viewDate"
                [daysInWeek]="viewDays"
                [excludeDays]="excludeDays"
                [disabled]="nextBtnDisabled"
                (viewDateChange)="dateOrViewChanged()">
                            <span class="valign-center">
                                <i title="Successivo"
                                   class="material-icons md-18">keyboard_arrow_right</i>
                            </span>
        </button>
      </div>
    </div>
  </div>
<!--
<select #viewDayOptionSelect class="form-control" (change)="viewDaysChanged(viewDayOptionSelect.value)">
  <option [value]="1">1 dia</option>
  <option [value]="3">3 dias</option>
  <option [value]="7">1 Semana</option>
</select>-->

<div class="col-lg-12">
  <calendar-scheduler-view #calendarScheduler *ngIf="reload"
                           [viewDays]="viewDays"
                           [viewDate]="viewDate"
                           [events]="events"
                           [locale]="locale"
                           [responsive]="true"
                           [weekStartsOn]="weekStartsOn"
                           [excludeDays]="excludeDays"
                           [startsWithToday]="startsWithToday"
                           [hourSegments]="hourSegments"
                           [dayStartHour]="dayStartHour"
                           [dayEndHour]="dayEndHour"
                           [showEventActions]="true"
                           [showSegmentHour]="true"
                           [zoomEventOnHover]="true"
                           (viewDaysChanged)="viewDaysChanged($event)"
                           (dayHeaderClicked)="dayHeaderClicked($event.day)"
                           (hourClicked)="hourClicked($event.hour)"
                           (segmentClicked)="segmentClicked('Clicked', $event.segment)"
                           (eventClicked)="eventClicked('Clicked', $event.event)"
                           (eventTimesChanged)="eventTimesChanged($event)"
                           [refresh]="refresh"
                           [segmentModifier]="segmentModifier"
                           [eventModifier]="eventModifier"
  >
  </calendar-scheduler-view>
</div>

<p-dialog header="Agendar consulta" [(visible)]="display" [modal]="true">
  <div class="mydialog">
    <app-cadastro-consulta [dataConsulta]="dataHoraSelecionada"
                           (cancelado)="closeDialog()"
                           (eventoCriado)="createEvent($event)"></app-cadastro-consulta>
  </div>
</p-dialog>


