<mat-sidenav-container class="sidenav-container">

  <mat-sidenav-content>
    <mat-toolbar class="tema-cor-azul">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="true">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
     <!-- <img class="icon-nav-bar" src="./assets/icons/dentista-feminina-icon.png">-->
      <div class="nome-proprietario"><a routerLink="">Consultório Drª Jordana Martins</a></div>
    </mat-toolbar>
    <ng-content></ng-content>
  </mat-sidenav-content>
  <mat-sidenav #drawer class="sidenav" fixedInViewport
               [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
               [mode]="(isHandset$ | async) ? 'over' : 'side'"
               [opened]="(isHandset$ | async) === false">
    <mat-toolbar class="tema-cor-azul">Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="/dashboard"  routerLinkActive="ativo" class="tema-cor-azul"><i class="pi pi-chart-bar"></i>DashBoard</a>
      <a mat-list-item routerLink="/agenda"  routerLinkActive="ativo" class="tema-cor-azul"><i class="pi pi-calendar"></i>Agenda</a>
      <a mat-list-item routerLink="/pacientes"  routerLinkActive="ativo" class="tema-cor-azul"><i class="pi pi-user"></i>Pacientes</a>
      <a mat-list-item routerLink="/financeiro"  routerLinkActive="ativo" class="tema-cor-azul"><i class="pi pi-dollar"></i>Financeiro</a>
      <a mat-list-item routerLink="/logout"  routerLinkActive="ativo" class="tema-cor-azul"><i class="pi pi-power-off"></i>Logout</a>
    </mat-nav-list>
  </mat-sidenav>
</mat-sidenav-container>
